<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${#strings.capitalize(#strings.toLowerCase(actor.firstName))}]]  [[${#strings.capitalize(#strings.toLowerCase(actor.lastName))}]]</title>
    <link th:replace="index :: bootstrap">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="container-fluid">
<!--    <div th:replace="index :: navheader"></div>-->
    <a th:href="@{/actor/{id}/update(id=${actor.actorId})}"><button class="btn btn-primary float-right">Update</button></a>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>Name: </td>
                <td th:text="${#strings.capitalizeWords(#strings.toLowerCase(actor.firstName))}
                + ' ' +
                ${#strings.capitalizeWords(#strings.toLowerCase(actor.lastName))}">Text...</td>
            </tr>
            <tr>
                <td>Also in:</td>
                <td>
                    <a th:each="f, iStat : ${films}"
                       th:href="@{/film/{id}(id=${f.filmId})}"
                       th:text="!${iStat.last} ?
                       ${#strings.capitalizeWords(#strings.toLowerCase(f.title))} + ', ':
                       ${#strings.capitalizeWords(#strings.toLowerCase(f.title))}">Text...</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>