<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title> Actors </title>
    <link th:replace="index :: bootstrap">
</head>
<body class="container-fluid">
<table class="table table-bordered">
    <thead>
        <tr>
            <th> First Name </th>
            <th> Last Name </th>
        </tr>
    </thead>
    <tbody>
        <tr th:if="${actors.empty}">
            <td colspan="2"> No Actors Available </td>
        </tr>
        <tr th:each="actor : ${actors}">
            <td>[[${actor.firstName}]]</td>
            <td>[[${actor.lastName}]]</td>
        </tr>
    </tbody>
</table>

</body>
</html>