<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Update Actor </title>
    <link th:replace="index :: bootstrap">
</head>
<body class="container-fluid">
    <form action="#" th:action="@{/actor/{id}/update(id=${actor.actorId})}" th:object="${actorDto}" method="post">

        <div class="form-row">
            <label for="firstname">First Name</label>
            <input class="form-control" type="text" id="firstname" th:value="${actor.firstName}" th:field="*{firstName}">
        </div>
        <div class="form-row">
            <label for="lastname">Last Name</label>
            <input class="form-control" id="lastname" type="text" th:value="${actor.lastName}" th:field="*{lastName}">
        </div>
        <ul>
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
        <div class="form-row">
            <button class="btn btn-primary" type="submit">Save</button>
            <button class="btn" type="reset">Reset</button>
        </div>
    </form>
</body>
</html>